@{
    ViewData["Title"] = "Home Page";
}
<!--
<script src="scripts/app.js"></script>
<script src="scripts/HelloWorld.jsx"></script>

<div> 
    <p>
        studing typescript.
    </p>
</div>
<div id="message"></div>
<div>
    Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = sayHello()" /><br />
    Framework: <input id="framework" value="ASP.NET" onkeyup="document.getElementById('message').innerText = sayHello()" />
</div>

<div>
    <p>
        hello-world-content below
    </p>
</div>
-->
<div id="container"></div>
<div id="container2"></div>
<div id="container3"></div>
<div id="container4"></div>
<div id="container5"></div>

<div id="hello-world-content"></div>
<div id="base-grid"></div>
<!--
<script src="scripts/HelloWorld2.jsx"></script>
-->






