<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/lib/react.js"></script>
        <script src="~/lib/react-dom.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/react.min.js"></script>
        <script src="~/lib/react-dom.min.js"></script>
        <script src="~/js/main.min.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>

   